.dashboard {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 30px;
  padding : 10px;
  text-align: left;
  border-radius:5px;
  background-color: white;
  font-size: 20px;
  color: black;
}

.content table {
  padding: 5px;
  width: 100%;
}

.content td, th {
  padding: 5px;
}

.content tr:nth-child(even) {
  background-color:Lightgreen;
}

.content a{
  color: black;
  text-decoration: underline;
}

.content a:hover{
  color: black;
  text-decoration: underline;
}

.update {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  /*align-items: left;*/
}

.update input[type=text] {
  width :200px;
  height: 40px;
  border-color: black;
  margin-left: 10px;
  border-radius: 10px;
}

label {
  padding:10px;
  display: inline-block;
}

.submit-button {
  padding: 6px 20px 6px 20px;
  font-style: italic;
  background-color: #282c34;
  color : white;
  font-size: 20px;
  border-radius: 10px;
}

.submit-button:hover {
  background-color :white;
  color: #282c34;
}

.progress-bar {
  margin-top: 10px;
  padding: 2px;
  background-color: #282c34;
  width: 100%;
  border-radius: 8px;
}

.progress {
  background-color: #E3F52E;
  width: 10%;
  height: 15px;
  border-radius: 7px;
}
