.form {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.transfer {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
}

input[type=text] {
  float : right;
  width: 200px;
  height: 50px;
  background-color: #d1d4c7;
  border : 0px;
  margin-top: 0px;
  margin-left: 10px;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
}

button[type=submit] {
  float: right;
}
